* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: "Pavanam", sans-serif;
  color: #464040;
  margin-bottom: 10px;
}

a:hover {
  opacity: 0, 8;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fffcf3;
}

nav {
  font-size: 30px;
  display: flex;
  margin-left: auto;
  padding: 40px 40px 0px 0px;
}
li a:hover {
  opacity: 0, 8;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: auto;
  font-family: "Pavanam", sans-serif;
}

nav li a {
  text-decoration: none;
  color: #464040;
  padding: 5px;
}

li {
  font-family: "Pavanam", sans-serif;
  line-height: 2;
}

p.indholdstekst {
  font-family: "Pavanam", sans-serif;
  font-size: 1rem;
  line-height: 2;
}

.white {
  color: #fffcf3;
}

h1.white {
  font-family: "Pavanam", sans-serif;
  font-size: 5.5rem;
  margin-top: 120px;
}

h1 {
  font-family: "Pavanam", sans-serif;
  font-size: 5.5rem;
  color: #464040;
  margin: 50px 0;
}

h2 {
  font-family: "Pavanam", sans-serif;
  font-size: 4rem;
  color: #fffcf3;
}

h3 {
  font-family: "Pavanam", sans-serif;
  color: #464040;
  font-size: 2rem;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

footer {
  background-color: #e4d7b6;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer svg {
  height: 35px;
  margin-left: auto;
}

footer p {
  font-family: "Pavanam", sans-serif;
  color: #464040;
  font-size: 1.3rem;
}

.temasider {
  display: flex;
  flex-direction: column;
}

.temasider a {
  text-decoration: none;
  color: #464040;
  font-family: "Pavanam", sans-serif;
  font-size: 1.2rem;
}
.arrow {
  margin: 0 auto;
  margin-top: 150px;
}
.arrow svg {
  height: 100px;
  color: #fffcf3;
}

.tema {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.tema p {
  font-family: "Pavanam", sans-serif;
  font-size: 4rem;
  color: #fffcf3;
}

.tema:hover p {
  color: red;
}

.web {
  background-image: url(/billeder/t2.webp);
}
.tema:hover {
  opacity: 0.6;
}
.ux {
  background-image: url(/billeder/t3.webp);
}

.animation {
  background-image: url(/billeder/t4.webp);
}
.indhold {
  background-image: url(/billeder/t5.webp);
}

.ommig1 img {
  width: 100%;
  height: 300px;
}
.opgavelink {
  font-family: "Pavanam", sans-serif;
  color: #464040;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 10px;
}

.portpil:hover {
  opacity: 0.6;
}

.portpil {
  display: flex;
  color: #464040;
}

.portpil.white {
  color: #fffcf3;
}

.portpil svg {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 10px;
}

.portpil:hover {
  opacity: 0.6;
}

.portpil svg {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 10px;
}

/*
* Burgermenu
*/
@media (max-width: 800px) {
  .inner-header {
    display: flex;
    margin-right: auto;
  }

  .burger-menu {
    margin-left: auto;
  }
  .active-show {
    display: none;
  }

  .active-show ul {
    list-style: none;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    gap: 20px;
  }

  .active-show li {
    margin-bottom: 10px;
  }
  .active-show a {
    text-decoration: none;
    color: #464040;
    font-size: 24px;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
    margin: 10px 20px;
  }

  .bar {
    width: 35px;
    height: 3px;
    background: #464040;
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-opened .active-show {
    display: flex;
    position: absolute;
    background: #cac4bc;
    width: 100%;
  }

  .menu-opened .bar-1 {
    display: none;
  }

  .menu-opened .bar-2 {
    transform: rotate(-45deg) translate(-5px, 6px);
    margin-top: 10px;
  }

  .menu-opened .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
    margin-top: 12px;
  }
}
