.img {
  background-image: url(/billeder/IMG_6102.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

.pil {
  display: flex;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin-bottom: 40px;
  padding-top: 85px;
}

.fwrapper {
  margin-left: auto;
}

.textb {
  background-color: #cac4bc;
  border-radius: 8px;
  padding: 0px 30px 30px 30px;
}

.textb1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  margin-bottom: 40px;
  align-items: center;
}

.img-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.ommig1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
}

.ommig {
  display: grid;
  gap: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown_indhold {
  display: block;
}

.dropdown_indhold {
  display: none;
  position: absolute;
  background-color: #cac4bc;
  min-width: 200px;
  border-radius: 5%;
  z-index: 1;
  right: 0;
}

.dropdown_indhold a {
  font-family: "Pavanam", sans-serif;
  color: #464040;
  margin: 10px;
}

.dropdown_indhold.white li a {
  color: #fffcf3;
}
@media (max-width: 800px) {
  .dropdown_indhold.white li a {
    color: #464040;
  }
  .dropdown_indhold {
    right: -42%;
  }
}

.active-show {
  font-size: 30px;
  display: flex;
  padding: 20px;
}

.active-show li {
  margin: 1px auto;
}

.dropdown:hover .dropdown_indhold {
  display: block;
}

.dropdown_indhold a:hover {
  opacity: 0.6;
}

nav ul li a:hover {
  opacity: 0.6;
}

.temabeskrivelse {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 10px 20px 20px 20px;
  gap: 30px;
  background-color: #cac4bc;
  border-radius: 8px;
  line-height: 1.6;
}
.temabeskrivelse p {
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .textb1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    order: -1;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  .white {
    font-size: 2rem;
  }
  main {
    padding: 20px;
    max-width: 1100px;
  }

  footer {
    grid-template-columns: 1fr !important;
    text-align: center;
  }
  .fwrapper {
    margin: 0;
  }

  .ommig1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pil {
    display: none;
  }

  .dropdown_indhold {
    display: block;
    background: none;
    height: 80vh;
  }

  .active-show {
    height: 80vh;
  }

  .portpil svg {
    display: none;
  }

  .order {
    order: -1;
  }
  .arrow svg {
    display: none;
  }
}
